DATABASE_URL="postgresql://********************@ep-spring-sky-ax3vq1xv-pooler.c-4.us-east-2.aws.neon.tech/neondb?sslmode=require&channel_binding=require"
NEXTAUTH_SECRET="*****************"
NEXTAUTH_URL="http://localhost:3000"
