DATABASE_URL="postgresql://neondb_owner:npg_DKBNxnaYt23V@ep-spring-sky-ax3vq1xv-pooler.c-4.us-east-2.aws.neon.tech/neondb?sslmode=require&channel_binding=require"
NEXTAUTH_SECRET="dqLk1ISRwAeSwhLqG94UQg49PPZRXv6SrRvk2ZAeJ1c="
NEXTAUTH_URL="http://localhost:3000"
